{% extends 'layout.html' %} {% block title %} Register {% endblock %} {% block content %}
<title>Kelompok 1 - ARM 2</title>
<div class="container">
  <div class="row justify-content-center">
    <h1 class="judul-user">.</h1>
    <h1 class="judul-user">.</h1>
    <div class="col-lg-6 info-panel-info">
      <h3 class="judul-user">.</h3>
      <h3 class="judul-user-item text-center">Register Option</h3>
      <h3 class="judul-user">.</h3>
      <img src="/static/img/avatar.png" alt="Security" class="img-fluid float-left avatar" />

      <div class="row">
        <div class="col-sm text-center">
          <a class="btn btn-primary text-white tombol" href="/register_admin">Register as Administrator</a>
        </div>
        <h3 class="judul-user">.</h3>
        <div class="col-lg text-center">
          <a class="btn btn-primary text-white tombol" href="/register_management">Register as User Management</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
