{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block content %}

<title>Industrial Equipment Control System</title>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><span>Industrial Equipment Control System</span></h1>
    <h3 class="display-5"><span>Kelompok 1 - ARM 2</span></h3>
  </div>
</div>
<!-- akhir Jumbotron -->

<div class="container">
  <!-- info mobil listrik -->
  <div class="row justify-content-center">
    <div class="col wadah-slur">
      <div class="col-lg text-center">
        <h1>Industrial Equipment Control System</h1>
      </div>
      <div class="row"></div>
      <div class="col-lg text-center">
        <h2>Intro</h2>
        <p>
          Sistem pengendalian motor,pompa,dan HVAC secara jauh berbasis web ini dirancang secara nirkabel (wireless) dengan memanfaatkan teknologi internet. Data keluaran device di kendalikan oleh driver relay yang selanjutnya dikirim
          melalui komunikasi paralel (port paralel) yang dihubungkan ke komputer server sehingga dapat ditampilkan ke halaman web user.
        </p>
      </div>
    </div>
  </div>
  <!-- end info mobil listrik -->
  <h5 class="judul-user">.</h5>
  <h5 class="judul-user">.</h5>
  <h5 class="judul-user">.</h5>
  <!-- Galery dongg-->
  <div class="row justify-content-center">
    <div class="col info-panel-info">
      <div class="row">
        <div class="col-lg text-center">
          <h1>Kelompok 1 - ARM 2</h1>
          <h2>Praktikum TIK</h2>
        </div>
        <h5 class="judul-user">.</h5>
        <div class="row workingspace">
          <div class="col-lg-4">
            <img src="static/img/catur.jpeg" alt="catur" class="img-fluid" />
          </div>
          <div class="col-lg-5">
            <h1>Catur Wardana</h1>
            <h2>(19/441194/SV/16546)</h2>
          </div>
        </div>

        <div class="row workingspace">
          <div class="col-lg-4">
            <img src="static/img/yeyen.jpeg" alt="yeyen" class="img-fluid" />
          </div>
          <div class="col-lg-5">
            <h1>Yeyen Karunia</h1>
            <h2>(19/441215/SV/16567)</h2>
          </div>
        </div>

        <div class="row workingspace">
          <div class="col-lg-4">
            <img src="static/img/akbar.jpeg" alt="akbar" class="img-fluid" />
          </div>
          <div class="col-lg-5">
            <h1>Akbar Hendrawan P</h1>
            <h2>(19/441190/SV/16542)</h2>
          </div>
        </div>

        <div class="row workingspace">
          <div class="col-lg-4">
            <img src="static/img/bagus.jpeg" alt="bagus" class="img-fluid" />
          </div>
          <div class="col-lg-5">
            <h1>Bagus Sadewa</h1>
            <h2>(19/447112/SV/16831)</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Galery dongg -->
</div>

{% endblock %}
